@import "tailwindcss";

@theme {
    --color-bg: #E0E0E0;
    --color-text: #FFFFFF
}

[data-theme="dark"] {
    --color-bg : #37353E;
    --color-text : #0F0E0E;
}

html {
    @apply bg-[var(--color-bg)];
    color-scheme: light;
}

html[data-theme] {
    color-scheme : dark;
}