@import "tailwindcss";

@theme {
    --color-bg: #FFFFFF;
    --color-text : #1D1616;
    --color-img: 0;
    --color-hover:#D3DAD9;
    --color-text-hover: #44444E;
    --color-highlight: #FF9A00
}

[data-theme="dark"] {
    --color-bg : #37353E;
    --color-text: #FFFFFF;
    --color-img: 100;
    --color-hover:#44444E;
    --color-text-hover:#D3DAD9;
    --color-highlight: #FFD93D
}

html {
    @apply bg-[var(--color-bg)] text-[var(--color-text)];
    color-scheme: light;
    font-family: 'Roboto', 'Sansation', sans-serif;
}

html[data-theme] {
    color-scheme : dark;
}